.mat-stepper-horizontal {
	margin-top: 8px;
  }
  
  .mat-mdc-form-field {
	margin-top: 16px;
  }

  .success-circle{
	height: 150px;
	width: 150px;
	border: 2px solid green;
	border-radius: 50%;
  }