<div class="container py-4">
  <div class="row">
    <div class="col-4">
      <mat-card appearance="outlined" class="p-2 bg-primary">
        <mat-card-header>
          <mat-card-title class="text-white"> Users</mat-card-title>
          <mat-card-subtitle class="text-white">2</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="text-white">View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card appearance="outlined" class="p-2 bg-primary">
        <mat-card-header>
          <mat-card-title class="text-white">Super Users</mat-card-title>
          <mat-card-subtitle class="text-white">3</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="text-white">View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card appearance="outlined" class="p-2 bg-primary">
        <mat-card-header>
          <mat-card-title class="text-white">All Users</mat-card-title>
          <mat-card-subtitle class="text-white">5</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button class="text-white">View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
